<h2>Deposit</h2>
<form [formGroup]="depositForm">
    <div class="form-group">
        <label>Account:</label>
        <input type="text" formControlName="account" class="form-control form-control-sm" placeholder="01234567890">
        <p *ngIf="hasError('account','required')" class="error">account is required</p>
        <p *ngIf="hasError('account','pattern')" class="error">Invalid account</p>
    </div>
    <div class="form-group">
        <label>Amount:</label>
        <input type="text" formControlName="amount" class="form-control form-control-sm" placeholder="150.0">
        <p *ngIf="hasError('amount','required')" class="error">Amount is required</p>
        <p *ngIf="hasError('amount','pattern')" class="error">Invalid Amount</p>
        <p *ngIf="hasError('amount','min')" class="error">The amounts need at least 10</p>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
</form>
<p>{{responseMsg}}</p>